<div class="navi-wrap">
  <div class="container">
    <nav class="navi-nav">
      <ul class="nav navbar-nav">
        <li>
          <a>전체</a>
        </li>
        <li>
          <a>한식</a>
        </li>
        <li>
          <a>일식</a>
        </li>
        <li>
          <a>카페</a>
        </li>
        <li>
          <a>양식</a>
        </li>
        <li>
          <a>퓨전</a>
        </li>
        <li>
          <a>분식</a>
        </li>
        <li>
          <a>햄버거</a>
        </li>
        <li>
          <a>치킨</a>
        </li>
        <li>
          <a>중식</a>
        </li>
        <li>
          <a>피자</a>
        </li>
      </ul>
    </nav>
  </div>
</div>