<div class="navi-wrap">
  <div class="container">
    <nav class="navi-nav">
      <ul class="nav navbar-nav">
        <li>
          <button class="btn btn-default search-button" role="button"
           (click)="searchToggle()"
           
          ><span class="glyphicon glyphicon-search"></span></button>
        </li>
        <li *ngFor="let category of categories">
          <a [routerLink]="['/restaurant/foodlist/', category]"
            [class.active]="currentCategory===category"
          >{{category}}</a>
        </li>
        <li class="search" [class.visible]="searchVisible">
          <form action="." onsubmit="return false" >
            <div class="input-group">
              <input type="search" name="category_keyword" class="form-control" placeholder="음식점이나 메뉴를 검색해보세요."
               #searchInput>
              <span class="input-group-btn">
                <button class="btn btn-default " type="button" id="category_search_button"
                (click)=onSearch(searchInput.value)><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
              </span>
            </div>
          </form>
        </li>
      </ul>
    </nav>
  </div>

</div>





