
/*
  메뉴 네비
*/

.navi-wrap{
  background:#423b3c;
  position: relative;
}

.navi-wrap .container {
    position: relative;
}
.navi-nav > ul > li{
  float: left;
}

.navi-nav > ul > li > a {
  color:#fff;
  padding:15px 29px;
  font-weight:bold;
}

.navi-nav > ul > li > a:active, .navi-nav > ul > li > a:focus {
  background:transparent;
  color:#25c1f1;
}

.navi-nav > ul > li > a:hover {
  color:#25c1f1;
}

.search-wrap {
  outline: goldenrod solid 2px;
}

.search{
  position: absolute;
  color: deeppink;
  max-width: 300px;
  top: 60px;
  left:-1000px;
  transition: 200ms;
}

.visible {
  left:31px;
}

.search > form > div > input {
  font-size:12px;
  border:0;
  padding:19px 12px;
}

.search > form > div > span > button {
  padding: 4px;
  background: #25c1f1;
  color: #fff;
  border: 0;
  border-left: 1px solid #e0e0e0;
}


.navi-nav > ul > li > .search-button {
  background: white;
  color: #25c1f1;
  padding: 0;
  margin: 9px 17px;
}

.glyphicon {
  padding: 8px 11px;
}
