<foodfly-search></foodfly-search>

<!-- <section class="container main-section">
  <div class="row">
    <div class="col-md-8">
      <img src="../../assets/images/main/main-image-app.png" style="height:369.922px">
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/main/main-food1.gif" style="margin-bottom:10px;">
      <img src="../../assets/images/main/main-food2.gif">
    </div>
  </div>
</section> -->

<section class="honbab-section">
  <div class="container text-center">
    <h5>혼밥추천맛집</h5>
    <h2>나 혼자도 잘 먹는다!
      <strong>혼밥추천맛집</strong>
    </h2>
    <div class="row">
      <div class="col-md-12">
        <!-- start swiper  -->
        <div class="swiper-container" [swiper]="config" [(index)]="index" >
          <div class="swiper-wrapper" >
            <div *ngFor="let item of items" class="swiper-slide" >
              <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              
                <img class="restaurant-img" src="{{item.img}}">
                <p class="restaurant-name">{{item.name}}</p>
                <div class="restaurant-info">
                  <p class="restaurant-kinds">{{item.category}}</p>
                  <p class="restaurant-delivery-tips">배달팁: {{item.flyTip}}</p>
                  <p class="restaurant-distance">거리: {{item.distance}} km</p>
                  <p class="restaurant-minimum-order">최소주문: {{item.minPrice}}원</p>
                </div>
              
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev">
          
        </div>
        <div class="swiper-button-next"></div>
        <!-- end swiper -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</section>
<div style="background-image:url(https://cdn.bmf.kr/banner/main_event/171214/1513243712683_1e0a6312599e.jpg); background-color:#e6dcd2; background-position:center center;height:140px"></div>
<section class="dandok-section">
  <div class="container text-center">
    <h5>단독배달 맛집</h5>
    <h2>푸드플라이에서만 가능
      <strong>단독배달 맛집</strong>
    </h2>
    <div class="row">
      <div class="col-md-12">
        <!-- start swiper  -->
        <div class="swiper-container" [swiper]="config" [(index)]="index">
          <div class="swiper-wrapper">
            <div *ngFor="let item of items" class="swiper-slide">
              <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        
                <img class="restaurant-img" src="{{item.img}}">
                <p class="restaurant-name">{{item.name}}</p>
                <div class="restaurant-info">
                  <p class="restaurant-kinds">{{item.category}}</p>
                  <p class="restaurant-delivery-tips">배달팁: {{item.flyTip}}</p>
                  <p class="restaurant-distance">거리: {{item.distance}} km</p>
                  <p class="restaurant-minimum-order">최소주문: {{item.minPrice}}원</p>
                </div>
        
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev">
        
        </div>
        <div class="swiper-button-next"></div>
        <!-- end swiper -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</section>

<div style="background-image:url(https://cdn.bmf.kr/banner/main_event/170628/1498639751272_e6cadbda65b4.jpg); background-color:#e6dcd2; background-position:center center;height:140px"></div>

<!-- 배달팁 할인 맛집 -->
<section class="dandok-section">
  <div class="container text-center">
    <h5>배달팁 할인</h5>
    <h2>잊지말고 챙기자! 우리동네
      <strong>배달팁 할인</strong>
    </h2>
    <div class="row">
      <div class="col-md-12">
        <!-- start swiper  -->
        <div class="swiper-container" [swiper]="config" [(index)]="index">
          <div class="swiper-wrapper">
            <div *ngFor="let item of items" class="swiper-slide">
              <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        
                <img class="restaurant-img" src="{{item.img}}">
                <p class="restaurant-name">{{item.name}}</p>
                <div class="restaurant-info">
                  <p class="restaurant-kinds">{{item.category}}</p>
                  <p class="restaurant-delivery-tips">배달팁: {{item.flyTip}}</p>
                  <p class="restaurant-distance">거리: {{item.distance}} km</p>
                  <p class="restaurant-minimum-order">최소주문: {{item.minPrice}}원</p>
                </div>
        
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev">
        
        </div>
        <div class="swiper-button-next"></div>
        <!-- end swiper -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</section>
<div style="background-image:url(https://cdn.bmf.kr/banner/main_event/171214/1513243754333_8a0018a0575a.jpg); background-color:#e6dcd2; background-position:center center;height:140px"></div>

<!-- 단독 맛집 -->
<section class="dandok-section">
  <div class="container text-center">
    <h5>주류배달 맛집</h5>
    <h2>지겨운 치맥 이제 그만!
      <strong>주류배달 맛집</strong>
    </h2>
    <div class="row">
      <div class="col-md-12">
        <!-- start swiper  -->
        <div class="swiper-container" [swiper]="config" [(index)]="index">
          <div class="swiper-wrapper">
            <div *ngFor="let item of items" class="swiper-slide">
              <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        
                <img class="restaurant-img" src="{{item.img}}">
                <p class="restaurant-name">{{item.name}}</p>
                <div class="restaurant-info">
                  <p class="restaurant-kinds">{{item.category}}</p>
                  <p class="restaurant-delivery-tips">배달팁: {{item.flyTip}}</p>
                  <p class="restaurant-distance">거리: {{item.distance}} km</p>
                  <p class="restaurant-minimum-order">최소주문: {{item.minPrice}}원</p>
                </div>
        
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev">
        
        </div>
        <div class="swiper-button-next"></div>
        <!-- end swiper -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</section>