<foodfly-search></foodfly-search>
<section class="container main-section">
  <div class="row">
    <div class="col-md-8">
      <img src="../../assets/images/main/main-image-app.png" style="height:369.922px">
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/main/main-food1.gif" style="margin-bottom:10px;">
      <img src="../../assets/images/main/main-food2.gif">
    </div>
  </div>
</section>
<section class="honbab-section">
  <div class="container text-center">
    <h5>혼밥추천맛집</h5>
    <h2>나 혼자도 잘 먹는다!
      <strong>혼밥추천맛집</strong>
    </h2>
    <div class="row">
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/I8AF0/623375a66e166296821ed241f9845cf8.jpg">
        <p class="restaurant-name">스노우폭스 뱅뱅점</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">도시락, 간편식, 분식</p>
          <p class="restaurant-delivery-tips">배달팁: 무료</p>
          <p class="restaurant-distance">거리: 2.424 km</p>
          <p class="restaurant-minimum-order">최소주문: 16,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/201702/10/ff64a3dfe5a7597342b9fd69c1a63c02.jpg">
        <p class="restaurant-name">샐러드투고</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">샐러드, 다이어트, 칠리새우</p>
          <p class="restaurant-minimum-order">배달팁: 3,900원</p>
          <p class="restaurant-distance">거리: 2.755 km</p>
          <p class="restaurant-delivery-tips">최소주문: 10,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/I3F2A/d4f1b351fe1c390e38055d82ac6ecd9b.jpg">
        <p class="restaurant-name">직화락 역삼점</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">도시락, 직화구이, 돈까스</p>
          <p class="restaurant-minimum-order">배달팁: 3,500원</p>
          <p class="restaurant-distance">거리: 2.715 km</p>
          <p class="restaurant-delivery-tips">최소주문: 16,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/201611/22/5d0c5d59bd608ab9943f8d80d616beae.jpg">
        <p class="restaurant-name">뱃길따라</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">물회, 무침, 대하</p>
          <p class="restaurant-delivery-tips">배달팁: 무료</p>
          <p class="restaurant-distance">거리: 2.913 km</p>
          <p class="restaurant-minimum-order">최소주문: 15,000원</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="background-image:url(https://cdn.bmf.kr/banner/main_event/171214/1513243712683_1e0a6312599e.jpg); background-color:#e6dcd2; background-position:center center;height:140px"></div>
<section class="dandok-section">
  <div class="container text-center">
    <h5>단독배달 맛집</h5>
    <h2>푸드플라이에서만 가능
      <strong>단독배달 맛집</strong>
    </h2>
    <div class="row">
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/I8AF0/623375a66e166296821ed241f9845cf8.jpg">
        <p class="restaurant-name">스노우폭스 뱅뱅점</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">도시락, 간편식, 분식</p>
          <p class="restaurant-delivery-tips">배달팁: 무료</p>
          <p class="restaurant-distance">거리: 2.424 km</p>
          <p class="restaurant-minimum-order">최소주문: 16,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/201702/10/ff64a3dfe5a7597342b9fd69c1a63c02.jpg">
        <p class="restaurant-name">샐러드투고</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">샐러드, 다이어트, 칠리새우</p>
          <p class="restaurant-minimum-order">배달팁: 3,900원</p>
          <p class="restaurant-distance">거리: 2.755 km</p>
          <p class="restaurant-delivery-tips">최소주문: 10,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/I3F2A/d4f1b351fe1c390e38055d82ac6ecd9b.jpg">
        <p class="restaurant-name">직화락 역삼점</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">도시락, 직화구이, 돈까스</p>
          <p class="restaurant-minimum-order">배달팁: 3,500원</p>
          <p class="restaurant-distance">거리: 2.715 km</p>
          <p class="restaurant-delivery-tips">최소주문: 16,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/201611/22/5d0c5d59bd608ab9943f8d80d616beae.jpg">
        <p class="restaurant-name">뱃길따라</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">물회, 무침, 대하</p>
          <p class="restaurant-delivery-tips">배달팁: 무료</p>
          <p class="restaurant-distance">거리: 2.913 km</p>
          <p class="restaurant-minimum-order">최소주문: 15,000원</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="background-image:url(https://cdn.bmf.kr/banner/main_event/170628/1498639751272_e6cadbda65b4.jpg); background-color:#e6dcd2; background-position:center center;height:140px"></div>
<section class="dandok-section">
  <div class="container text-center">
    <h5>배달팁 할인</h5>
    <h2>잊지말고 챙기자! 우리동네
      <strong>배달팁 할인</strong>
    </h2>
    <div class="row">
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/I8AF0/623375a66e166296821ed241f9845cf8.jpg">
        <p class="restaurant-name">스노우폭스 뱅뱅점</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">도시락, 간편식, 분식</p>
          <p class="restaurant-delivery-tips">배달팁: 무료</p>
          <p class="restaurant-distance">거리: 2.424 km</p>
          <p class="restaurant-minimum-order">최소주문: 16,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/201702/10/ff64a3dfe5a7597342b9fd69c1a63c02.jpg">
        <p class="restaurant-name">샐러드투고</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">샐러드, 다이어트, 칠리새우</p>
          <p class="restaurant-minimum-order">배달팁: 3,900원</p>
          <p class="restaurant-distance">거리: 2.755 km</p>
          <p class="restaurant-delivery-tips">최소주문: 10,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/I3F2A/d4f1b351fe1c390e38055d82ac6ecd9b.jpg">
        <p class="restaurant-name">직화락 역삼점</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">도시락, 직화구이, 돈까스</p>
          <p class="restaurant-minimum-order">배달팁: 3,500원</p>
          <p class="restaurant-distance">거리: 2.715 km</p>
          <p class="restaurant-delivery-tips">최소주문: 16,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/201611/22/5d0c5d59bd608ab9943f8d80d616beae.jpg">
        <p class="restaurant-name">뱃길따라</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">물회, 무침, 대하</p>
          <p class="restaurant-delivery-tips">배달팁: 무료</p>
          <p class="restaurant-distance">거리: 2.913 km</p>
          <p class="restaurant-minimum-order">최소주문: 15,000원</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="background-image:url(https://cdn.bmf.kr/banner/main_event/171214/1513243754333_8a0018a0575a.jpg); background-color:#e6dcd2; background-position:center center;height:140px"></div>
<section class="dandok-section">
  <div class="container text-center">
    <h5>주류배달 맛집</h5>
    <h2>지겨운 치맥 이제 그만!
      <strong>주류배달 맛집</strong>
    </h2>
    <div class="row">
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/I8AF0/623375a66e166296821ed241f9845cf8.jpg">
        <p class="restaurant-name">스노우폭스 뱅뱅점</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">도시락, 간편식, 분식</p>
          <p class="restaurant-delivery-tips">배달팁: 무료</p>
          <p class="restaurant-distance">거리: 2.424 km</p>
          <p class="restaurant-minimum-order">최소주문: 16,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/201702/10/ff64a3dfe5a7597342b9fd69c1a63c02.jpg">
        <p class="restaurant-name">샐러드투고</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">샐러드, 다이어트, 칠리새우</p>
          <p class="restaurant-minimum-order">배달팁: 3,900원</p>
          <p class="restaurant-distance">거리: 2.755 km</p>
          <p class="restaurant-delivery-tips">최소주문: 10,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/I3F2A/d4f1b351fe1c390e38055d82ac6ecd9b.jpg">
        <p class="restaurant-name">직화락 역삼점</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">도시락, 직화구이, 돈까스</p>
          <p class="restaurant-minimum-order">배달팁: 3,500원</p>
          <p class="restaurant-distance">거리: 2.715 km</p>
          <p class="restaurant-delivery-tips">최소주문: 16,000원</p>
        </div>
      </div>
      <div class="col-md-3">
        <img class="restaurant-img" src="https://cdn.bmf.kr/_data/product/201611/22/5d0c5d59bd608ab9943f8d80d616beae.jpg">
        <p class="restaurant-name">뱃길따라</p>
        <div class="restaurant-info">
          <p class="restaurant-kinds">물회, 무침, 대하</p>
          <p class="restaurant-delivery-tips">배달팁: 무료</p>
          <p class="restaurant-distance">거리: 2.913 km</p>
          <p class="restaurant-minimum-order">최소주문: 15,000원</p>
        </div>
      </div>
    </div>
  </div>
</section>