<div class="container">
  lat:{{lat}} lng:{{lng}} category: {{category}} filter: {{filter}}
</div>


<section class="container foodlist-nav">
  <div class="row">
    <div class="col-md-12 nav-body">
      <ul class="nav nav-pills">
        <li *ngFor="let filter of filters" role="presentation" [class.active]="currentFilter===filter.url">
          <a [routerLink]="['/restaurant/foodlist', category, filter.url]">{{filter.slug}}</a>
        </li>
        <!-- <li *ngFor="let filter of filters" role="presentation" [class.active]="currentFilter===filter">
          <a [routerLink]="['/restaurant/foodlist', category, filter]">{{filter}}</a>
        </li> -->
      </ul>
      <p class="nav navbar-right restaurant-num">
        현재
        <span>0</span>개의 음식점을 찾았습니다.
      </p>

    </div>

  </div>
</section>

<style>
  .test {
    outline: 1px solid skyblue;
  }
</style>



<section class="container foodlist">
  <div class="row">
    <div *ngFor="let item of items let i=index" class="restaurant-item col-xs-6 col-md-3">

      <div class="item-body" [routerLink]="['/restaurant/foodorder', item.pk]">
        <!-- <img src="item.images[0]"> -->
        <!-- <img src="item.images[1]"> -->
        <div class="title-img" >
          <!-- <img [src]="over[i] ? item.images[0] : item.images[1]" alt="..." (mouseover)="over[i] = true" (mouseout)="over[i] = false" > -->

          <img [src]="over[i] ? dummyImg[0] : dummyImg[1]" alt="..." (mouseover)="over[i] = true" (mouseout)="over[i] = false">
        </div>

        <div class="item-text">
          <h3 class="name">{{item.name}}</h3>
          
          <!-- <p class="category">{{item.tags|slice:0:3}}</p> -->
          <p class="category">{{item.tags[0]}}, {{item.tags[1]}}</p>
          <p class="tip">배달팁
            <span>{{item.deliveryPrice}}</span>원</p>
          <p class="min-price">최소주문 {{item.minOrderPrice}}원</p>
        </div>
      </div>
      <!-- end .item-body -->
    </div>
    <!-- end ngfor -->
  </div>
  <!-- end row-->
  <div *ngIf="scrollMessage" class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-success text-center" role="alert">{{scrollMessage}}</div>
    </div>
  </div>


</section>

<button id="btn-scroll-top" type="button" class="btn btn-default" [class.hidden]="!scrollTopVisble" (click)="scrollTop()">
  <span class="glyphicon glyphicon-chevron-up"></span>
</button>




<!-- <hr>
<div class="container">
  <div class="row">
    <div *ngFor="let item of foodflyDB let i=index" class="restaurant-item col-xs-6 col-md-3">
      <div class="thumbnail">

        <img [src]="over[i] ? item.images[0] : item.images[1]" alt="..." (mouseover)="over[i] = true" (mouseout)="over[i] = false">
  
        <div class="caption">
          <h3>{{item.name}}</h3>
          <p class="category">{{item.category|slice:0:3}}</p>
          <p class="tip">배달팁
            <span>{{item.tip}}</span>원</p>
          <p class="min-price">최소 주문 {{item.min_order_price}}원</p>
        </div>
      </div>
    </div>
  </div>
</div> -->