
<section class="container foodlist-nav">
  <div class="row">
    <div class="col-md-12 nav-body">
      <ul class="nav nav-pills">
        <li *ngFor="let filter of filters" role="presentation">
          <a (click)="selectFilter(filter.url)" 
           [class.active]="currentFilter===filter.url">{{filter.slug}}</a>
        </li>
      </ul>
      <div class="restaurant-num">현재 <span>{{items?.length}}</span>개의 맛집을 찾았습니다</div>
    </div>

  </div>
</section>

<section class="container foodlist">
  <div class="row">
    <div *ngFor="let item of items let i=index" class="restaurant-item col-xs-6 col-md-3">

      <div class="item-body" [routerLink]="['/restaurant/foodorder', item.pk]">
        <div class="title-img" >
          <img class="hover" [src]="item.imgCoverHover" alt="">
          <img class="cover" [src]="item.imgCover" alt="">
        </div>

        <div class="item-text">
          <h3 class="name">{{item.name|slice:0:12}}</h3>          
          
          <p class="category">
            <!-- <span  *ngFor="let i of item.tags | slice:0:3"></span> -->
             {{item.tags[0]?.name}}{{item.tags[1]?", ":""}}
             {{item.tags[1]?.name}}{{item.tags[2]?", ":""}}
             {{item.tags[2]?.name}}
          </p>
          <p class="tip">배달팁
            <span>{{item.deliveryPrice}}</span>원</p>
          <p class="min-price">최소주문 {{item.minOrderPrice}}원</p>
        </div>
      </div>
      <!-- end .item-body -->
    </div>
    <!-- end ngfor -->
  </div>
  <!-- end row-->
  <div *ngIf="scrollMessage" class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-success text-center" role="alert">{{scrollMessage}}</div>
    </div>
  </div>


</section>

<button id="btn-scroll-top" type="button" class="btn btn-default" [class.hidden]="!scrollTopVisble" (click)="scrollTop()">
  <span class="glyphicon glyphicon-chevron-up"></span>
</button>




<!-- <hr>
<div class="container">
  <div class="row">
    <div *ngFor="let item of foodflyDB let i=index" class="restaurant-item col-xs-6 col-md-3">
      <div class="thumbnail">

        <img [src]="over[i] ? item.images[0] : item.images[1]" alt="..." (mouseover)="over[i] = true" (mouseout)="over[i] = false">
  
        <div class="caption">
          <h3>{{item.name}}</h3>
          <p class="category">{{item.category|slice:0:3}}</p>
          <p class="tip">배달팁
            <span>{{item.tip}}</span>원</p>
          <p class="min-price">최소 주문 {{item.min_order_price}}원</p>
        </div>
      </div>
    </div>
  </div>
</div> -->