
.container {
  margin-top: 20px;
}

.nav-pills a{
  background: #eeeeee;
  margin-right: .5rem;
  border-radius: 10rem;
   /*NOTE - Declare transition here! */
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
  
}

.nav-pills a:hover{
  /* border-radius: .6rem; */
  background: #25C6F5;
  color: #eeeeee
}


.nav-pills a.active{
  background: #25C6F5;
  color: #eeeeee;
}

.restaurant-item {
  margin-bottom: 20px;  
}


.item-body {
  /* border: 1px solid silver;    */
  /* border: 1px solid #ededf0; */
  /* border-bottom: 1px solid #dcdce0; */
  border: 1px solid gray;
  min-height: 360px;
  transition: all 0.3s;

}

.item-body:hover {
  border: 1px solid #25C6F5;
  box-shadow: 1px 1px 10px silver;

}

.item-body .title-img {
  width: 100%;
  position: relative; 
  padding-top: 130%; /* 1:1 ratio */ 
  overflow: hidden;  
}

.item-body .title-img img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;  
  width: 100%;
  height: auto;  
}

.item-body .title-img img.cover{
  transition: all 0.3s linear;  
}

.item-body .title-img img.cover:hover {
  opacity: 0;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.item-text {
  margin: 0 10px;
  font-size: 1.4rem;
}

.item-text p {
  margin-bottom: 5px;
}

.item-text p.category{
  width: 100%;
  font-size: 1.2rem;
  font-weight: normal;
  /* color: #52c3f1; */
  /* text-shadow: 1px 1px 0px steelblue; */
  overflow: hidden;
}

.item-text .name {
  font-size: 1.6rem;
  color: #25C6F5;
  margin: 8px 0;
  /* text-shadow: 1px 1px 0px steelblue; */
}

.restaurant-num {
  float: right;
  margin-top: 12px;
}

.restaurant-num span {
  font-weight: 500;
  color: #2c687f;
}

#btn-scroll-top {
  width: 5rem;
  height: 5rem;
  background: #25C6F5;
  color: white;
  border: 0;
  border-radius: 10rem;

  z-index: 10000;
  position: fixed;
  bottom: 15px;
  right: 15px;

  box-shadow: 1px 1px 10px silver;
  
}
