:host >>> .main-wrap {
  min-height: 180px !important;
  height: auto;
}

:host >>> .main-search {
  padding:25px 0 !important;
}

:host >>> .head-text, :host >>> .middle-text{
  display:none;
}

:host >>> .sub-text {
  margin-top: 0 !important;
}


.container {
  margin-top: 20px;
}

.nav-pills a{
  background: #eeeeee;
  margin-right: .5rem;
  border-radius: 10rem;
   /*NOTE - Declare transition here! */
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;

}

.nav-pills a:hover{
  /* border-radius: .6rem; */
  background: #25C6F5;
  color: #fff
}


.nav-pills a.active{
  background: #25C6F5;
  color: #fff;
}

.restaurant-item {
  transition: all .6s;
  margin-bottom: 20px;
  cursor: pointer;
}


.item-body {
  border: 1px solid #e0e0e0;
  min-height: 360px;
  transition: all 0.3s;
  border-radius: 5px;
}

.item-body:hover {
  border-color:#25C6F5;
}

.item-body .title-img {
  width: 100%;
  position: relative;
  padding-top: 130%; /* 1:1 ratio */
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #e0e0e0;
}

.item-body .title-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.item-body .title-img img.cover{
  transition: all 0.3s linear;
}

.item-body:hover .title-img img.cover {
  opacity: 0;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}


.item-text {
  margin: 0 10px;
  font-size: 1.4rem;
}

.item-text p {
  margin-bottom: 3px;
}

.item-text p.category{
  width: 100%;
  font-size: 1.2rem;
  font-weight: normal;
  /* color: #52c3f1; */
  /* text-shadow: 1px 1px 0px steelblue; */
  overflow: hidden;
}

.item-text .name {
  font-size: 1.8rem;
  color: #25C6F5;
  margin: 12px 0 3px 0;
  /* text-shadow: 1px 1px 0px steelblue; */
}

.item-text .tip, .item-text .min-price {
  font-size:13px;
}

.item-text .tip {
  margin-bottom: 3px;
}

.item-text .min-price {
  margin-bottom: 12px;
}

.restaurant-num {
  float: right;
  font-size:14px;
  line-height: 40px;
}

.restaurant-num span {
  /* font-weight: 500; */
  color: #fff;
  background: #25C6F5;
  margin-top:-3px;
  font-size:13px;
}

.alert {
  border: 2px dashed  #eeeeee;
  background: white;
  color: #25C6F5;
}

#btn-scroll-top {
  width: 5rem;
  height: 5rem;
  background: #25C6F5;
  color: white;
  border: 0;
  border-radius: 10rem;

  z-index: 10000;
  position: fixed;
  bottom: 15px;
  right: 15px;

  box-shadow: 1px 1px 10px silver;

}


/* google Map */
/* agm-map {
  height: 168px;
} */