/*
  로그인
*/

.login-wrap{
  float:none;
  margin:50px auto;
}

.login-wrap > form > .form-group {
  margin-bottom:0px;
}

.form-group > label {
  display: block;
}

.login-title{
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

.login-button, .signup-button{
  margin-top:10px;
  font-weight:bold;
}

.login-button{
  color:#fff;
  background:#25c1f1;
  border: 1px solid #25c1f1;
}

.signup-button{
  background:#fff;
  border:1px solid #e0e0e0;
}

.login-button:hover, .login-button:active, .login-button:link {
  background:#25c1f1;
  color:#fff;
}

.signup-button:hover, .signup-button:active, .signup-button:link {
  background:#fff;
}

.form-size{
  height: 50px;
}

.i-checks {
  width: 133px;
  padding-left: 20px;
  font-weight: normal;
  user-select: none;
  cursor: pointer;
}

.i-checks > input[type=checkbox] {
  display: none;
}

.i-checks > i {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-right: 10px;
  margin-left: -20px;
  background-color: #fff;
  border: 1px solid #cfdadd;
  vertical-align: middle;
}

.i-checks > i:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
  transition: all .1s;
}

.i-checks input:checked + i:before {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: #23b7e5;
}

.checkbox > a{
  float: right;
  text-decoration-line: none;
}

.login-wrap > img {
  margin-bottom: 40px;
  text-align: center;
  margin: 0 auto 40px auto;
  display: inherit;
}

.error-message{
  font-style: normal;
  font-size: 12px;
  color: #dd514c;
}


.btn-facebook {
  background-color: #3b5998;
}

.btn-google {
  background-color: #DD4B39;
}

.btn-kakao {
  background-color: #FFEC42;
}