
<div class="container">
  <div class="login-wrap col-md-4">
    <img src="../../../../../assets/images/common/logo.png" alt="foodfly 로고">
    <div class="alert alert-danger" role="alert" *ngIf="loginGetData?.length === 0">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{ message }}
    </div>
    <div class="alert alert-success" role="alert" *ngIf="loginGetData?.length > 0">
      <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
      <span class="sr-only">Success:</span>
      {{ message }}
    </div>
    <form #userForm="ngForm" (ngSubmit)="login(userid.value, userpw.value)">
      <fieldset>
      <div class="form-group">
        <label for="idInput">
          <input type="text" name="userid" class="form-control form-size" id="idInput" #userid placeholder="이메일을 입력하세요">
        </label>
      </div>
      <div class="form-group">
        <label for="passwordInput">
          <input type="password" name="userpw" class="form-control form-size" id="passwordInput" placeholder="비밀번호" (keydown.enter)="login(userid, userpw)" #userpw>
        </label>
      </div>
      <div class="checkbox">
        <label class="i-checks">
          <input type="checkbox">
          <i></i>
          <span class="select-all">로그인 상태 유지</span>
        </label>
        <a routerLink="/member/findmemberinfo">아이디/ 비밀번호 찾기</a>
      </div>
      <button type="submit" class="btn btn-default btn-lg btn-block login-button">로그인</button>
      <button type="button" class="btn btn-default btn-lg btn-block signup-button">회원가입</button>
      </fieldset>
    </form>
    <pre *ngIf="loginGetData?.length > 0"> {{ loginGetData | json }}</pre>
  </div>
</div>