/*
  Footer
*/

.footer-wrap{
  border-top:1px solid #e0e0e0;
  padding:20px;
}

.footer-list{
  margin-bottom:10px;
}


.footer-list > li > a{
  padding:10px 15px 9px 15px;
  font-size:13px;
}

.footer-list > li > a:first-child{
  padding-left:0;
}

.footer-info{
  position:relative;
  clear:both;
}

.footer-info > p {
  font-size:12px;
  color:#888;
}

.social-link {
  float: right;
  list-style: none;
  margin-top:5px
}

.social-link > li {
  float:left;
  margin-left:5px;
}