<footer class="footer-wrap">
  <div class="container">
    <ul class="footer-list nav navbar-nav navbar-left">
      <li>
        <a href="/">회사소개</a>
      </li>
      <li>
        <a href="/">이용약관</a>
      </li>
      <li>
        <a href="/">위치기반서비스 이용약관</a>
      </li>
      <li>
        <a href="/">개인정보 처리방침</a>
      </li>
      <li>
        <a href="/">제휴/입점안내</a>
      </li>
    </ul>
    <div class="footer-info">
      <p>회사명: 패스트앤컴퍼니(주) 대표이사: 패스트 주소: 서울시 강남구 언주로 79길 12</p>
      <p>전화번호: 1668-2263 팩스: 02-542-6413 E-mail:help@footfly.co.kr</p>
      <p>사업자 등록번호: 211-88-57343 통신판매업신고번호 제 2011-서울신사-01820호</p>
    </div>
  </div>
</footer>