<div class="container">
  <div class="signup-wrap col-md-4">
    <h2 class="signup-title">마이페이지</h2>
    <form [formGroup]="usermodifyform" (ngSubmit)="modify()">
      <fieldset>
        <div class="form-group">
          <label for="emailInput">
            <input disabled="true" type="text" name="useremail" class="form-control form-size" id="emailInput" value="{{ userData.email }}">
          </label>
        </div>
        <div formGroupName="passwordGroup">
          <div class="form-group">
            <label for="passwordInput">
              <i @fadeInOut *ngIf="!userpassword.errors && userpassword.touched" class="icon-ok"></i>
              <input type="password" formControlName="userpassword" name="userpassword" class="form-control form-size" id="passwordInput"
                placeholder="(필수)비밀번호">
            </label>
            <div class="alert-box" @accordion *ngIf="userpassword.errors && (userpassword.dirty || userpassword.touched)">
              <em  *ngIf="userpassword.errors?.required && userpassword.touched" class="error-message">
                비밀번호를 입력하세요.
              </em>
              <em  *ngIf="userpassword.errors?.pattern && userpassword.touched" class="error-message">
                비밀번호는 영문, 숫자 또는 특수문자로 입력하세요.
              </em>
              <em  *ngIf="userpassword.errors?.minlength && userpassword.touched" class="error-message">
                비밀번호는 8자리 이상으로 입력하세요.
              </em>
              <em  *ngIf="userpassword.errors?.maxlength && userpassword.touched" class="error-message">
                비밀번호는 16자리 이하로 입력하세요.
              </em>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPasswordInput">
              <i @fadeInOut *ngIf="!passwordGroup.errors?.match && !userconfirmPassword.errors && userconfirmPassword.touched" class="icon-ok"></i>
              <input type="password" formControlName="userconfirmPassword" name="userconfirmPassword" class="form-control form-size" id="confirmPasswordInput"
                placeholder="(필수)비밀번호 확인">
            </label>
            <div class="alert-box" @accordion *ngIf="(userconfirmPassword.invalid || passwordGroup.invalid) && (userconfirmPassword.dirty || userconfirmPassword.touched)">
              <em  *ngIf="userconfirmPassword.errors?.required && userconfirmPassword.touched" class="error-message">
                비밀번호를 입력하세요.
              </em>
              <em  *ngIf="passwordGroup.errors?.match && userconfirmPassword.touched && !userconfirmPassword.errors?.required"
                class="error-message">
                비밀번호가 일치하지 않습니다.
              </em>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="nameInput">
            <input type="text" disabled=true name="username" class="form-control form-size" id="nameInput" value="{{ userData.name }}">
          </label>
        </div>
        <div class="form-group">
          <label for="phonenumberInput">
            <i @fadeInOut *ngIf="!userphonenumber.errors && userphonenumber.touched" class="icon-ok"></i>
            <input type="text" formControlName="userphonenumber" name="userphonenumber" class="form-control form-size" id="phonenumberInput"
              placeholder="(필수)휴대폰 전화번호 입력(-제외)">
          </label>
          <div class="alert-box" @accordion *ngIf="userphonenumber.errors && (userphonenumber.dirty || userphonenumber.touched)">
            <em  *ngIf="userphonenumber.errors?.required && userphonenumber.touched" class="error-message">
              휴대폰 번호를 입력하세요
            </em>
            <em  *ngIf="userphonenumber.errors?.pattern && userphonenumber.touched" class="error-message">
              휴대폰 번호는 숫자만 입력 가능합니다.
            </em>
            <em  *ngIf="userphonenumber.errors?.minLength && userphonenumber.touched" class="error-message">
              휴대폰 번호를 알맞게 입력해주세요.
            </em>
            <em  *ngIf="userphonenumber.errors?.maxLength && userphonenumber.touched" class="error-message">
              휴대폰 번호를 알맞게 입력해주세요.
            </em>
          </div>
        </div>
        <button [disabled]="usermodifyform.invalid" type="submit" class="btn btn-default btn-lg btn-block signup-button">회원수정</button>
        <a class="btn btn-default btn-lg btn-block before-button" routerLink="/main">뒤로가기</a>
      </fieldset>
    </form>
  </div>
</div>