<main class="main-wrap">
  <div class="container">
    <div class="main-search col-md-8">
      <p class="main-text head-text">레스토랑에 날개를 달다</p>
      <p class="main-text middle-text">지금 맛집을 푸드 플라이에서 온라인 주문하세요.</p>
      <p class="main-text sub-text">배달이나 테이크아웃을 원하시는 주소지를 입력해주세요.</p>
      <div class="input-group">
        <span class="input-group-btn loc">
          <button class="btn btn-default ico-loc" type="button" (click)="getCurrentGeo()">&nbsp;</button>
        </span>
        <form (ngSubmit)="findFoodList()" class="form-search">
          <label for="search-input">
            <input type="search" class="form-control" id="search-input" placeholder="주소를 입력해주세요." (keyup)="highlightFirstOption($event)" (focusout)="focusSearch($event)" [formControl]="inputText" (focus)="clickStatus=true" >
          </label>
          <ul class="dropdown-menu search-list" *ngIf="clickStatus">
            <li class="none-search">
              <a (click)="getCurrentGeo()">현재 위치로 설정</a>
            </li>
            <li *ngIf="!listAddress" class="none-search">
              <a *ngIf="!inputText.value" #autocomplete>검색어를 입력해주세요.</a>
              <a *ngIf="inputText.value">"{{ inputText.value }}" 에 대한 검색 결과가 없습니다.</a>
            </li>
            <li *ngFor="let Address of listAddress" class="address-List">
              <a (click)="editInputValue($event.target, Address)">
                <address class="search-address">
                  <strong>{{ Address.roadAddrPart1 }}</strong>
                  <br>
                  <p>{{ Address.jibunAddr }}</p>
                </address>
              </a>
            </li>
          </ul>
          <span class="input-group-btn" >
            <a class="cancel-button btn btn-default" (click)="cleanInputValue()">
              <i class="cancel-button-ico">&nbsp;</i>
            </a>
            <button class="btn btn-default btn-search" type="submit">검색</button>
          </span>
        </form>
      </div>
    </div>
  </div>
</main>