div {
  border-radius: 0;
}
.container {
  margin-top: 2rem
}

input[name= "address"]:first-of-type {
  margin-bottom: 1rem;
}

.radio {
  text-align: center;
}

.radio > label {
  text-align: left;
  outline: 1px solid silver;
  text-indent: 1rem;
}


.panel-main {
  /* background: yellow; */
 /* border: 0; */
}

.panel-main > .panel-body {
  padding: 0;
  margin: 0;
   
}

.panel-main  .panel {
  /* background: turquoise; */
  margin: 0
}

.panel-main  .panel:last-of-type {
  /* margin: 0; */
}


.order-list .panel-body {
  padding: 0;
}

table {
  /* outline: 1px solid salmon; */
  width: 100%;  
  text-indent: 1rem  
}

th {
  text-align: left;
  padding: 1rem
}

td {
  background: #FFF8EB;
  padding : .5rem 1rem;
  font-size: 1.3rem;
  
}

tfoot td {  
  border-top: 1px solid gray;
  color: firebrick;  
  padding: 1rem;
  font-size: 1.5rem;
  
}

td:first-of-type{
  /* background: yellow; */
  text-align: left;
  
}

td:last-of-type{
  /* background: yellow; */
  text-align: right;
  text-indent: 1rem;
}


.bg-color {
  background: #AF5E00;
}