div {
  /* border-radius: 0; */
}
.container {
  margin-top: 2rem
}

/* 폼 - 판넬 layout */
/* .panel-main , .panel > .panel-body > .panel >.panel-body */
/* .panel-default { border :0; } .panel {box-shadow: 0 0 0;}  판텔 border 초기화*/

.panel-main > .panel-heading, .order-list .panel-heading{
  background: #423B3C;
  color: white;
  font-size: 21px;
}
.panel-main > .panel-body,  .order-list .panel-body{
  padding: 0;
}

.panel-main .panel {
  margin: 0;
  border :0;
  box-shadow: 0 0 0;
}

/* 폼 내부 */
input[name="address"]:first-of-type {
  margin-bottom: 1rem;
}

em.alert {
  color: firebrick;
  margin: 0;
  padding: 0;
}

.radio {
  text-align: center;
}

.radio > label {
  text-align: left;
  outline: 1px solid silver;
  text-indent: 1rem;
  padding: 1rem 2rem;
}

.radio .payment-selected {
  background: #FFF8EB;
  border: 0;
  outline: 1px solid firebrick;
  /* outline: 1px solid silver; */
}

/* 주문 내역 */
table {
  width: 100%;  
  text-indent: 1rem  
}

th {
  text-align: left;
  padding: 1rem
}

td {
  background: #FFF8EB;
  padding : .5rem 1rem;
  font-size: 1.3rem;  
}

tfoot td {  
  border-top: 1px solid gray;
  color: firebrick;  
  padding: 1rem;
  font-size: 1.5rem;  
}

td:first-of-type{
  text-align: left;  
}

td:last-of-type{
  text-align: right;
  text-indent: 1rem;
}

.bg-color {
  background: #AF5E00;
}

/* 결제 버튼 */

button[type="submit"] {
  background: #B0DC2D;
  border: 0;
}

button[disabled], button[disabled]:hover {
  background: #161314;
}