/* You can add global styles to this file, and also import other style files */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

.form-control {
  font-weight:initial;
}

.nav {
  float: left;
}

.navbar-nav > li > a:hover {
  background-color:transparent;
}