/* You can add global styles to this file, and also import other style files */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
/* You can add global styles to this file, and also import other style files */

 html {
  position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 200px;
}

a {
  cursor: pointer;
}

.toast-box {
  position: fixed;
  right:20px;
  transition: right 0.3s;
  z-index:2;
}

.toast{
  position: relative;
  width:300px;
  padding:25px 15px 25px 50px;
  margin:0 0 10px;
  border-radius:3px;
  opacity: 0.9;
  color:#fff;
  background-position:15px center;
  background-repeat:no-repeat;
  cursor: pointer;
}

.toast:hover{
  opacity:1;
}
.success {
  background-color:#51a351;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==");
}

.warning {
  background-color:#bd362f;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=");
}

.form-control {
  font-weight:initial;
}

.nav {
  float: left;
}

.navbar-nav > li > a:hover {
  background-color:transparent;
}

/*
  lnb 메뉴
*/

.lnb-wrap {
  border-bottom:1px solid #e0e0e0;
  height:40px;
}

.lnb-list {
  margin:0;
  float:right;
}

.lnb-list > li {
  float:left;
}

.lnb-list > li > a, .footer-list > li > a{
  font-size:12px;
  background: url('/assets/images/common/util_bar.gif') no-repeat 0 12px
}

.lnb-list > li > a{
  padding:10px 10px 9px 10px;
}

.lnb-list > li:first-child > a, .footer-list > li:first-child > a {
  background:none;
}

/*
  메인 메뉴
*/
.navbar-brand{
  margin-top: 10px;
}

.main-menu > li > a {
  font-weight:bold;
  padding:30px 20px;
  font-size:18px;
}

/*
  메뉴 네비
*/

.navi-wrap{
  background:#423b3c
}
.navi-nav > ul > li{
  float: left;
}

.navi-nav > ul > li > a {
  color:#fff;
  padding:15px 37px;
  font-weight:bold;
}

.navi-nav > ul > li > a:hover {
  color:#25c1f1;
}

/*
  Footer
*/

.footer-wrap{
  border-top:1px solid #e0e0e0;
  padding:20px;

  width: 100%;
  position: absolute;
  bottom: 0;

}

.footer-list{
  margin-bottom:10px;
}


.footer-list > li > a{
  padding:10px 15px 9px 15px;
}

.footer-list > li > a:first-child{
  padding-left:0;
}

.footer-info{
  position:relative;
  clear:both;
}

.footer-info > p {
  font-size:12px;
  color:#888;
}

