<foodfly-navmenu></foodfly-navmenu>
<foodfly-search></foodfly-search>
<div class="container">
  <!-- 매장 상호명 -->
  <div class="list-group fdr-store">
    <h2 class="list-group-item sub-title">
      {{ restaurantDB.name }}
    </h2>
    <!-- 매장 소개 -->
    <div class="list-group-item">
      <div class="row">
        <img class="col-md-3" alt="fdr-img" src="{{ restaurantDB.imgInfo }}">
        <ul class="list-unstyled col-md-6">
          <li class="fdr-menu-list">
            <p>분류 : {{ restaurantTags }} </p>
            <p>주소 : {{ restaurantDB.address }}</p>
            <p>최소주문금액 : {{ restaurantDB.minOrderPrice | number:'1.0-0'}}원</p>
            <p>주문유형 :{{ restaurantOrdertypes }} </p>
            <p>배달팁: {{ restaurantDB.deliveryPrice | number:'1.0-0' }}원</p>
            <p>배달시간: {{ restaurantDB.avgDeliveryTime }}분</p>
        </ul>
        <div class="col-md-3">
          <agm-map [latitude]="restaurantDB.latitude" [longitude]="restaurantDB.longitude" [zoom]="16">
            <agm-marker [latitude]="restaurantDB.latitude" [longitude]="restaurantDB.longitude"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <!-- 리스트 탭 -->
      <nav>
        <ul class="nav nav-tabs nav-justified">
          <li *ngFor="let navItem of navItems" role="presentation" [class.active]="navItem === selectedItem" (click)="changeNavItem(navItem)">
            <a>{{ navItem }}</a>
          </li>
        </ul>
      </nav>
      <!-- **** 메뉴 리스트 **** -->
      <div class="fdr-menu col-md-12" [hidden]="selectedItem !== navItems[0]">
        <div class="panel panel-default" *ngFor="let category of menuCategories; let idx = index">
          <div class="panel-heading fdr-menulist" (click) = "toggle[idx] = !toggle[idx] ? true : false"  @accordion>
            <h3 class="panel-title">
              {{ category.name }}
              <span class="glyphicon" [class.glyphicon-chevron-down]="toggle[idx]" [class.glyphicon-chevron-up]="!toggle[idx]" aria-hidden="true"></span>
            </h3>
          </div>
          <ul class="list-group list-unstyled fdr-menu-list" [class.category-visible]="toggle[idx]">
            <li class="list-group-item" *ngFor="let menu of category.menus"
              (click)="this.foodorderService.checkOrderList(menu)">
              <div class="row">
                <div class="col-md-9 fdr-menu-list">
                  <p class="fdr-menu-name">{{ menu.name }}</p>
                  <p class="fdr-menu-price">{{ menu.price | number:'1.0-0'}}원</p>
                  <p class="fdr-menu-info">{{ menu.info }}</p>
                </div>
                <div class="col-md-3 fdr-menu-img">
                  <img *ngIf="menu.img" src="{{ menu.img }}" alt="menu.img">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- **** 정보 탭 **** -->
      <div class="row">
        <div class="fdr-info col-md-12" [hidden]="selectedItem !== navItems[1]">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                매장 소개
              </h3>
            </div>
            <ul class="list-group list-unstyled fdr-menu-list">
              <li class="list-group-item">
                 {{ restaurantDB.restaurantInfo }}
              </li>
            </ul>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                 주소
              </h3>
            </div>
            <ul class="list-group list-unstyled fdr-menu-list">
              <li class="list-group-item">
                 {{ restaurantDB.address }}
              </li>
            </ul>
          </div>
          <div class="panel panel-default" *ngIf="restaurantDB.originInfo">
            <div class="panel-heading">
              <h3 class="panel-title">
                원산지 정보
              </h3>
            </div>
            <ul class="list-group list-unstyled fdr-menu-list">
              <li class="list-group-item">
                 {{ restaurantDB.originInfo }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- **** 리뷰 탭 **** -->
      <div class="fdr-review col-md-12" [hidden]="selectedItem !== navItems[2]">
        <div class="row">
          <strong class="col-md-3 col-md-offset-3 fdr-review-total">4.5</strong>
          <div class="col-md-3">
            <p>맛:
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
            </p>
            <p>양:
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
            </p>
            <p>배달:
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
            </p>
          </div>
        </div>
        <div class="panel panel-default row fdr-review">
          <div class="panel-heading">
            <h3 class="panel-title">
               리뷰: 2개
            </h3>
          </div>
          <ul class="list-group list-unstyled">
            <li class="list-group-item">
              <p>wls**님 8시간 전</p>
              <span>
                맛:
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              </span>
              <span>
                양:
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              </span>
              <span>
                배달:
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              </span>
              <p>너무 맛있어요!</p>
            </li>
            <li class="list-group-item">
              <p>dydals**님 2018년 4월 25일</p>
              <span>
                맛:
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              </span>
              <span>
                양:
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              </span>
              <span>
                배달:
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon glyphicon-star fdr-star" aria-hidden="true"></span>
              </span>
              <p>다음에 또 배달해 먹고 싶어요</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 주문표 -->
    <div class="col-md-4 fdr-cart">
      <div href="#" class="list-group">
        <div class="list-group-item fdr-cart-subtitle">
          <span>주문표</span>
          <button class="trash-button btn btn-default" aria-hidden="true" (click)="this.foodorderService.removeAllOrder()">
            <i class="trash-button-ico">&nbsp;</i>
          </button>
        </div>
        <ul class="list-group-item list-unstyled list-orderlist">
          <p *ngIf="!this.foodorderService.orderlist.length" class="fdr-none-menu">주문표에 담긴 메뉴가 없습니다.</p>
          <li *ngFor="let order of this.foodorderService.orderlist" class="list-order-li">
            <div class="row">
              <p class="col-md-12 fdr-order-name">{{ order.name }}</p>
              <div class="col-md-6">
                <button class="remove-button btn btn-default" aria-hidden="true" (click)="this.foodorderService.removeToOrder(order.pk)">
                  <i class="remove-button-ico">&nbsp;</i>
                </button>
                <span class="fdr-order-price">{{ order.price | number:'1.0-0' }}원</span>
              </div>
              <div class="col-md-6 fdr-cart-count">
                <button class="minus-button btn btn-default" aria-hidden="true" (click)="this.foodorderService.minusAmount(order)">
                  <i class="minus-button-ico">&nbsp;</i>
                </button>
                <span class="fdr-order-amount">{{ order.amount }}</span>
                <button class="plus-button btn btn-default" aria-hidden="true" (click)="this.foodorderService.addAmount(order.pk)">
                  <i class="plus-button-ico">&nbsp;</i>
                </button>
              </div>
            </div>
          </li>
        </ul>
        <p class="list-group-item fdr-minprice">최소주문금액 : {{ restaurantDB.minOrderPrice | number:'1.0-0' }}원</p>
        <p class="list-group-item">합계 : {{ this.foodorderService.orderSumCulator(deliveryprice)| number:'1.0-0' }}원</p>
      </div>
      <a type="button" class="btn btn-lg btn-block fdr-cart-order" routerLink="/restaurant/checkout" [class.disabled]=" restaurantDB.minOrderPrice > this.foodorderService.orderSumCulator()">주문하기</a>
    </div>
  </div>
</div>
