:host >>> .main-wrap {
  min-height: 180px !important;
  height: auto;
}

:host >>> .main-search {
  padding:25px 0 !important;
}

:host >>> .head-text, :host >>> .middle-text{
  display:none;
}

:host >>> .sub-text {
  margin-top: 0 !important;
}

/* 매장 상호명 */
.fdr-store {
  margin-top: 20px;
}

/* nav */
.fdr-menu, .fdr-info, .fdr-review  {
  margin-top: 20px;
}

/* 메뉴 리스트 */
.fdr-menu-img {
  width: 100px;
  height: 70px;
  display: block;
  margin: auto;
}

.fdr-menu-info {
  white-space: normal;
  font-size: 0.9em;
  }

/* 정보 탭 */
.fdr-info ul li {
  border-bottom: 2px solid #e7e7e7;
}

.fdr-info h2{
  font-size: 15px;
}

/* 리뷰 탭 */
.fdr-review-total {
  text-align: right;
  line-height: 80px;
  font-size: 40px;
}

/* 주문표 */
.fdr-cart {
  position: sticky;
  top: 20px;
}

.fdr-cart-order {
  margin-top: 20px;
  background-color: #f0ad4e;
  color: white;
}

.fdr-cart-subtitle {
  background-color: #423b3c;
  color: #fff;
  overflow: hidden;
}

.fdr-cart-subtitle span {
  font-size: 21px;
}

.fdr-cart-subtitle button {
  float: right;
}

.fdr-cart-count {
  text-align: right;
}

/* 모든 주문표 목록 제거 */
.trash-button {
  padding:0;
  background: #423b3c;
  border: none;
}

.trash-button-ico {
  background: #423b3c url('../../../../../assets/images/common/sprite-icon.png') no-repeat -164px 3px;
  background-size: 192px;
  width: 12px;
  height: 12px;
  border-radius: 4px !important;
  border:none;
  padding:5px 10px;
}

/* 주문표 메뉴리스트 수정 */

.remove-button, .minus-button, .plus-button {
  padding:0;
  background: #fff;
  border: none;
}
.remove-button-ico {
  background: #fff url('../../../../../assets/images/common/sprite-icon.png') no-repeat -29px -2px;
  background-size: 192px;
  width: 12px;
  height: 12px;
  border-radius: 4px !important;
  border:none;
  padding:5px 10px;
}

.minus-button-ico {
  background: #fff url('../../../../../assets/images/common/sprite-icon.png') no-repeat -116px -2px;
  background-size: 192px;
  width: 12px;
  height: 12px;
  border-radius: 4px !important;
  border:none;
  padding:5px 10px;
}

.plus-button-ico {
  background: #fff url('../../../../../assets/images/common/sprite-icon.png') no-repeat -93px -2px;
  background-size: 192px;
  width: 12px;
  height: 12px;
  border-radius: 4px !important;
  border:none;
  padding:5px 10px;
}