:host >>> .main-wrap {
  min-height: 180px !important;
  height: auto;
}

:host >>> .main-search {
  padding:25px 0 !important;
}

:host >>> .head-text, :host >>> .middle-text{
  display:none;
}

:host >>> .sub-text {
  margin-top: 0 !important;
}

/* 매장 상호명 */
.fdr-store {
  margin-top: 20px;
}

/* nav */
.fdr-menu, .fdr-info, .fdr-review  {
  margin-top: 20px;
}

/* 메뉴 리스트 */

.fdr-menu-img > img{
  width: 100%;
  background-position: bottom;
  display: inline-block;
}

.fdr-menu-info {
  white-space: normal;
  font-size: 0.9em;
  }

.category-visible {
  height: 0;
  overflow: hidden;
  transition: height 2s;
}

/* 정보 탭 */
.fdr-info ul li {
  border-bottom: 2px solid #e7e7e7;
}

.fdr-info h2{
  font-size: 15px;
}

/* 리뷰 탭 */
.fdr-review-total {
  text-align: right;
  line-height: 80px;
  font-size: 40px;
}

/* 주문표 */
.fdr-cart {
  position: sticky;
  top: 20px;
}

.fdr-cart-order {
  margin: 20px 0;
  background-color: #b0dc2d;
  color: white;
}

.fdr-cart-subtitle {
  background-color: #423b3c;
  color: #fff;
  overflow: hidden;
}

.fdr-none-menu {
  margin: 34px 0;
  text-align: center;
}


.list-order-li {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
}

.list-order-li:last-child {
  border-bottom: none;
}

.fdr-cart-subtitle span {
  font-size: 21px;
}

.fdr-cart-subtitle button {
  float: right;
}

.fdr-cart-count {
  text-align: right;
}

/* 모든 주문표 목록 제거 */
.trash-button {
  display: inline-block;
  padding: 4px;
  background: #423b3c;
  border: none;
}

.trash-button-ico {
  background: #423b3c url('../../../../../assets/images/common/sprite-icon.png') no-repeat -161px 3px;
  background-size: 192px;
  padding: 9px 12px;
}

/* 주문표 메뉴리스트 수정 */

.remove-button, .minus-button, .plus-button {
  padding:0;
  background: #fff;
  border: none;
}
.remove-button-ico {
  background: #fff url('../../../../../assets/images/common/sprite-icon.png') no-repeat -31px -6px;
  background-size: 192px;
  border-radius: 4px !important;
  border:none;
  padding:0 8px;
  border:1px solid #e0e0e0;
}

.minus-button-ico {
  background: #fff url('../../../../../assets/images/common/sprite-icon.png') no-repeat -86px -2px;
  background-size: 145px;
  width: 12px;
  height: 12px;
  border-radius: 4px !important;
  border:none;
  padding:0 8px;
  border:1px solid #e0e0e0;
}

.plus-button-ico {
  background: #fff url('../../../../../assets/images/common/sprite-icon.png') no-repeat -70px -2px;
  background-size: 145px;
  width: 12px;
  height: 12px;
  border-radius: 4px !important;
  border:none;
  padding:0 8px;
  border:1px solid #e0e0e0;
}

.sub-title {
  background-color:#423b3c;
  color: white;
  padding: 15px;
  font-size: 24px;
}
.nav-tabs.nav-justified {
  border: 1px solid #e0e0e0;
  border-radius:4px;
}

.nav-tabs.nav-justified > li.active > a {
  border-bottom: 5px solid #25c1f1;
  font-weight:bold;
}

.nav-tabs.nav-justified > li > a{
  border:0;
  background:white;
}

.nav-tabs.nav-justified > li{
  border-right: 1px solid #e0e0e0;
  border-bottom: 0px;
}

.nav-tabs.nav-justified > li:last-child {
  border-right: 0px;
}

.nav-tabs > li:hover {
  border-color: #e0e0e0 #e0e0e0 #ddd;
}

.fdr-menu-name {
  font-weight:bold;
}

.fdr-menu {
  margin-top:21px;
  padding: 0;
}

.glyphicon-chevron-down, .glyphicon-chevron-up {
  top:2px;
  color: #25c1f1;
  padding-left: 3px;
  font-size: 16px;
}

.fdr-cart-subtitle {
  padding: 8px 15px;
}

.list-unstyled {
  margin-bottom: 0px;
}

.fdr-menu-list > p{
  line-height: 19px;
}

.fdr-menu-list > li :hover {
  cursor: pointer;
  color: #0ea6d5;
}

.list-orderlist {
  padding:0;
}


.fdr-order-name {
  font-weight:bold;
}

.fdr-order-price {
  padding-left:5px;
}

.fdr-order-amount {
  padding:0 3px;
}

.fdr-minprice {
  border-top: none;
}

.fdr-menulist:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  transition: all 0.3s
}

.fdr-review {
  margin-top: 20px;
}

.fdr-star {
  color: #b0dc2d;
}

/* google Map */
agm-map {
  height: 168px;
}